@import org.apache.commons.lang3.StringUtils
@(papers: Set[String])
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Index of Papers</title>
        <link rel="stylesheet" media="screen" href="/stylesheets/bootstrap.min.css">
        <link rel="stylesheet" media="screen" href="/stylesheets/google-font-robotoSlab.css">

        <script src="/javascripts/jquery-3.4.1.slim.min.js"></script>
        <script src="/javascripts/popper.min.js"></script>
        <script src="/javascripts/bootstrap.min.js"></script>
        </head>
    <body>

        <br>
        <div class="container">
            <div class="card">
                <div class="card-body">
                <table>
                    <tr>
                        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
                            <a class="navbar-brand" href="#">Papers List</a>
                        </nav>

                        <br>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col"><p class="card-text">ID</p></th>
                                    <th scope="col"><p class="card-text">Paper Title</p></th>
                                </tr>
                            </thead>
                            <tbody>

                                @for(paper <- papers) {
                                    <tr>
                                    @for((paperId,index) <- paper.split('|').zipWithIndex) {
                                        @if(index == 0){
                                            <td><a href="/paperDetails?paperId=@paperId"><p class="card-text">@paperId</p></a></td>
                                        }else{
                                            <td><p class="card-text">@paperId</p></td>
                                        }

                                    }
                                </tr>
                                }
                            </tbody>
                        </table>

                    </tr>
                </table>
                </div>
            </div>
        </div>
    </body>
</html>
